* {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}

/* First Section */
.div1 {
  background-color: #1f2937;
  padding: 32px;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.links {
  color: white;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 24px;
  margin-right: 110px;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  display: flex;
  align-items: center;
  margin-left: 120px;
}

a {
  text-decoration: none;
}

a:visited {
  color: white;
}

a:hover {
  color: cyan;
}

/* Second Section */
.div2 {
  background-color: #1f2937;
  padding-left: 32px;
  padding-right: 32px;
  display: flex;
  padding-top: 32px;
  padding-bottom: 96px;
}

.main-text {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.subtext {
  font-size: 18px;
  color: #f9faf8;
}

.signup {
  background-color: #3882f6;
  color: #f9faf8;
  padding: 10px 20px;
  border-radius: 12px;
  border: 1px solid #1f2937;
  margin-right: 500px;
  width: auto;
  text-align: center;
  font-weight: bolder;
  overflow: hidden;
}

.signup:hover {
  background-color: #f9faf8;
  color: #3882f6;
  border: 1px solid #1f2937;
}

.content {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
  margin-left: 110px;
  flex: 1;
}

.imagecontent {
  background-color: grey;
  display: flex;
  justify-content: center;
  margin-right: 110px;
  flex: 1;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f9faf8;
  width: auto;
}

/* Section Three */
.div3 {
  padding: 160px;
}

/* Section Four */
.div4 {
  background-color: #e5e7eb;
  display: flex;
  flex-wrap: wrap;
  padding: 160px;
  gap: 16px;
}

.quote {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 80px;
  margin-right: 80px;
}

.quote-author {
  font-weight: bolder;
  font-size: 18px;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  margin-right: 80px;
}

.footer {
  padding: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-footer-text {
  background-color: #3882f6;
  padding: 48px 128px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 96px;
  border-radius: 15px;
}

.text {
  color: #f9faf8;
}

.footer-button {
  display: flex;
  border: 2px;
}

.footer-button-1 {
  background-color: #3882f6;
  color: #f9faf8;
  border-radius: 12px;
  padding: 12px 48px;
  border: 2px solid white;
  font-weight: bolder;
}

.footer-button-1:hover {
  background-color: white;
  color: #3882f6;
  border: 2px solid #3882f6;
}
